# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.LD48.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\graha\Documents\GameDev\LD48\.idea\.idea.LD48\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
